main {

	/*background: red;*/
	min-height: 100vh;
	padding:10px 0 20px 0;
}


.active ,.active:hover{
    box-shadow: inset 0px -2px 0 0px;
	background: #f9f9f9;
	color: #6098ff;

}



.inline-btn {
	display: inline-block;

}


nav .card {

	overflow: hidden;
}



/*** Table Styles ***/

th {

	text-align: right;
}



/*** End Table Styles ***/